{% extends'base.html.twig' %}

{% block title %}Visualisation De Sa Demande{% endblock %}

{% block body %}

    <div id="message">
        <h1>Demande numéro </h1>
    </div>

    <div id="create">
        <p href="">Signaler un déchet</p>
    </div>

    <div id="form">
    </div>

    <div id="search">
        <input type="text" id="searchInput" placeholder="Chercher..">
        <div id='submitsearch'>
        </div>
    </div>

    <div id="result">
        <table>
        </table>
    </div>
{% endblock %}